*.gem
*.iml
*.ipr
*.iws
*.log
*.rbc
*~
.DS_Store
.bundle
.config
.idea
.rakeTasks
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/rails_root/log/*.log
spec/rails_root/tmp
spec/rails_root/vendor/plugins/erector
spec/rails_root/vendor/rails
spec/rails_root/vendor/rails_versions
spec/reports
test/tmp
test/version_tmp
tmp
vendor
