.bundle/
log/*.log
pkg/
spec/dummy/config/database.yml
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/dummy/public/uploads/*
tmp/*
coverage/*
*.gem
Gemfile.lock
spec/dummy/db/test.sqlite3
gemfiles/*.lock
.ruby-gemset