body, td, a, p {
  font-family: Lucida Sans, arial,sans-serif;
    font-size: 11pt;
}

img {
  margin-right: 3em;
  border: none;
}

img.logo {
}

.clear {
  clear: both;
}

ul {
  	list-style-position: inside;
}

li {
  margin-left: 1.5em;
  padding-bottom: .5em;
}

.sidebar h3 {
    margin-bottom: .25em;
}

li.clickable:hover {
  background-color: blue; 
  cursor: pointer; cursor: hand;
}

.sidebar ul {
    margin-left: 1em;
}

ul.clickable {
  list-style-type: none;
  list-style-position: outside;
  -webkit-padding-start: 0px;
    margin-top: 0em;
}

li.clickable {
  color: #ccdcea;
  background-color: #3470a2;
  list-style-type: none;
  text-align: right;
  margin-left: 0em;
  padding: .2em;
  padding-right: 1em;
  padding-left: 1em;
/*  font-variant: small-caps;*/
  margin-bottom: 2px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

li.clickable a, li.clickable a:visited {
  text-decoration: none;
  /*font-weight: bold;*/
  color: white;
}

h1 {
/*  font-variant: small-caps;*/
  border-bottom: 1px solid gray;
/*  background: #EEE; */
  padding: .25em;
  padding-left: 0px;
  margin-left: 0px;
}

h2 {
  margin-top: 2em;
  background: #DDD;
  padding: .25em;
    border: 1px solid #CCC;
}

pre {
  background-color: #EEEEFF;
  border: 1px solid gray;
  padding: .5em;
  padding-left: 2em;
  margin-right: 6em;
  overflow: auto;
}

table.cheatsheet {
  border-style: outset;
  border-collapse: collapse;
  font-size: 10pt;
}

table.cheatsheet code {
  background-color: #EEEEFF;
}

table.cheatsheet i {
  font-size: 11pt;
}

table.cheatsheet th {
  background-color: #EDEDED;
}

table.cheatsheet tr {
}

table.cheatsheet td, table.cheatsheet th {
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  padding: .5em;
  font-size: 10pt;
}

table.cheatsheet td {
  vertical-align: top;
}

code {
  font-size: 12pt;
}

pre {
  font-size: 12pt;
  font-family: Inconsolata,
               Consolas,
               "Andale Mono",
               "Lucida Console",
               "Lucida Sans Typewriter",
               "DejaVu Sans Mono",
               "Bitstream Vera Sans Mono",
               "Liberation Mono",
               "Nimbus Mono L",
               Monaco,
               "Courier New",
               Courier,
               monospace;

}

.separator {
  margin-right: 10px;
  font-size: 36pt;
}

/* top */

div.top {
  
}

div.top ul {
  list-style-type: none;
  display: inline;
  margin: 0px;
  padding: 0px;
  
}

div.top li {
  display: inline;
  padding: .5em;
}

/* sidebar */

div.sidebar {
  float: left;
  position: fixed;
  max-width: 240px;
  float: right;
  margin-right: 1em;
  margin-bottom: 4em;
  overflow-vertical: auto;
}

.sidebar ul {
}

.main {
  margin-left: 260px;
}

.footer {
  font-size: 10pt;
  border-top: 1px solid black;
  padding: 1em;
}

.body {
  margin-left: 1em;
}

